/*
Theme Name: Starter theme
Author: OjaT
Description: Starter theme with minimal style
Version: 1.1
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/* MAIN */

body { margin: 0px;  font-family: Open sans, Arial; }
	
a { text-decoration: none; color: #1375BD; }
a:hover { color: #CCC; }
a:focus { outline: none; }
li { line-height: 28px; }
ul {}
p { line-height: 28px; }
img { border: none; max-width: 100%; height: auto; }
img.aligncenter { clear: both; display: block; margin: 20px auto 20px auto; }
img.alignleft { float: left; margin: 20px 20px 20px 0px; } 
img.alignright { float: right; margin: 20px 0px 20px 0px; } 
table { border-collapse: collapse; }
table, th, td { border: 1px solid #dddddd; padding: 10px }


/* TYPOGRAPHY */

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }


/* BUTTONS */

.btn {
	display: inline-block;
	padding: 6px 12px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

.btn:hover {
	color: #fff;
	background-color: #286090;
}


/* MENU */

.menu-header-menu-container { 
	overflow: hidden; 
}

.menu {
	margin: 0px;
	padding: 0px;
}

.menu li { 
	float: left; 
	margin-right: 20px;
	list-style: none; 
}

.menu li:last-of-type { 
	margin-right: 0px; 
}

.menu .with-bg {}

.menu .with-bg a {}

.current_page_item a {
	font-weight: bold;
}

.glyphicon {
	font-size: 12px;
	color: #4BB658;
	left: 5px;
}


/* FOOTER */

footer {  
	padding: 40px 0px;
}

.menu-footer-menu-container {
	overflow: hidden;
}


@media screen and (max-width: 375px) {
	.content img { 
		float: none;
		margin-left: 0px;
		margin-right: 0px;
	}  
}

